version: "3.8"

services:
 db:
  image: mariadb:10.6
  container_name: dolibarr_db
  restart: always
  environment:
   MYSQL_ROOT_PASSWORD: rootpassword
   MYSQL_DATABASE: dolibarr
   MYSQL_USER: dolibarr
   MYSQL_PASSWORD: dolipass
  volumes:
   - ./db_data:/var/lib/mysql

 dolibarr:
  image: dolibarr/dolibarr:latest
  container_name: dolibarr_app
  restart: always
  ports:
   - "8080:80"
  environment:
   DOLI_DB_HOST: db
   DOLI_DB_NAME: dolibarr
   DOLI_DB_USER: dolibarr
   DOLI_DB_PASSWORD: dolipass
   DOLI_ADMIN_LOGIN: admin
   DOLI_ADMIN_PASSWORD: admin
  volumes:
   - ./dolibarr_data/documents:/var/www/documents
   - ./dolibarr_data/custom:/var/www/html/custom
   - ./dolibarr_data/conf:/var/www/html/conf
  depends_on:
   - db

 phpmyadmin:
  image: phpmyadmin/phpmyadmin:latest
  container_name: dolibarr_phpmyadmin
  restart: always
  ports:
   - "8082:80"
  environment:
   PMA_HOST: db
   PMA_USER: root
   PMA_PASSWORD: rootpassword
   MYSQL_ROOT_PASSWORD: rootpassword
  depends_on:
   - db
